### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class
*.jar
*.war
*.ear

### IDE ###
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
*.env.local
